# Dependencies
node_modules/

# Next.js build & cache
.next/
out/

# Env files (gizli)
.env
.env.*

# OS & logs & editor
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.idea/