node_modules

# Ortam değişkenleri - güvenlik için GitHub'a yüklenmesin
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build çıktıları
.next/
out/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
